<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Title -->
  <title>Burger Bucket List</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merienda|Open+Sans&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/css/reset.css" type="text/css">
  <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css">
</head>
<body>
  {{{ body }}}

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>